@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("../app/assets/fonts/Manrope-Regular.ttf")format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: "Manrope";
  src: url("../app/assets/fonts/Manrope-Bold.ttf")format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../app/assets/fonts/GloriaHallelujah-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope", sans-serif;
  --font-gloria: "Gloria Hallelujah", cursive;

}

@layer utilities {
  .font-manrope-regular {
    font-family: var(--font-manrope);
    font-weight: 400;
  }

  .font-manrope-bold {
    font-family: var(--font-manrope);
    font-weight: 700;
  }
  .inner-shadow-white {
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  }
  .inner-shadow-dark {
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .shadow-white-thin {
    box-shadow: 0px 0px 1px 0px #ffffff;
  }
  .shadow-gray-offset {
    box-shadow: 4px 4px 0px 0px rgba(64, 64, 64, 0.25);
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-column {
    @apply flex flex-col justify-center;
  }
  .inner-light-shadow {
    box-shadow: inset 0px 0px 2px 0px rgba(64, 64, 64, 0.25);
  }
  .no-blur-shadow-little {
    box-shadow: 3px 3px 0px 0px #404040;
  }
  .card-dark {
    background-color: #2a2a2a !important;
    color: white !important;
  }
  .card-secondary-text {
    color: #c9c9c9 !important;
  }
  .dark-bg {
    background-color: #353535 !important;
  }
  .dark-border {
    border-color: #5e5e5e !important;
    border-width: 0.5px !important;
  }
}

@layer base {
  h1 { font-size: inherit; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  overflow-x: hidden;
}
